:root {
  --basic-red:#EE3643;
  --basic-green:#63A63E;
  --basic-grey:#3D546F;
  --basic-lightgrey:#C5C5C5;
  --basic-background:#F1F5F7;
  --basic-white:#FFFFFF;
  --special-yellow:#FFBF47;
  --special-blue:#3BBCE3;
  --special-lilac:#DC91D8;
  --special-lightgreen:#8ED78F;
  --special-lightyellow:#FFD180;
  --success:#5FBB2D;
  --warning:#FFBF47;
  --fail:#BA2732;
  --special-lightgrey:#C4C4C4;
  --special-shadow:#3BBCE3;;
}

body { 
  margin: 0; 
}

img {
  max-width: 100%; 
}

a { 
 text-decoration: none; 
}

.write-us-modal,
.map-modal,
.to-cart-modal {
 display: none;
}

